<div>
    {{#each products}}
        <div class="generalproduct">
            {{!-- <img src="" alt=""> --}}
            <div class="divimage">{{image}}</div>
            <img src="/media{{image}}" alt="">
            <h3 class="name">{{name}}</h3>
            {{!-- <img src="" alt=""> --}}
            <div class="stars">{{rating}}</div>
            <p class="tx20">{{price}}</p>
            <button class="btn">Agregar al carrito</button>
        </div>
    {{/each}}
</div>