<div class="filters">
    <form action="" method="get">
        <select name="Ordenar" id=""></select>
    </form>
</div>
<div class="generalproducts">
    {{#each products}}
         <div class="products">
            <img class="products__img" src="/media{{image}}" alt="">
            <h1 class="products__name" class="name">{{name}}</h1>
            <p class="products__stars">{{rating}}</p>
            <p class="products__price">{{price}}</p>
            <button class="products__btn"><a href="/products/{{this._id}}">Ver más</a></button>
            <button data-id="{{_id}}" class="productsbuy__btn"><a href="">Agregar al carrito</a></button>
        </div>
    {{/each}}
</div>

<script src="/scripts/cart.js"></script>

<link rel="stylesheet" href="/styles/main.css">